.Score {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0rem;
  &__container {
    text-align: center;
  }
  &__text {
    padding-bottom: 0.1rem;
    border-bottom: 1px solid var(--color-secondary);
    margin-bottom: 1rem;
  }
  &__value {
    font-size: 4rem;
    margin-top: -1rem;
    font-weight: 500;
    &--best {
      color: yellow;
    }
  }
}
