@import "../../styles/abstracts/_mixins.scss";
.App {
}
.Timer {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  background-color: red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20rem;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respondMax(500px) {
    width: 4rem;
    height: 4rem;
    font-size: 3.5rem;
    left: 53%;
  }
}
