@import "../../styles/abstracts/_mixins.scss";
.Modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    position: relative;
    text-align: center;

    animation: fadeIn 100ms 550ms both;
    & > * {
      margin-bottom: 1rem;
    }
  }

  .PictureCard {
    width: 30%;
    position: absolute;
    top: 5rem;
    right: -10rem;
    &:hover {
      border: none;
    }
    @include respondMax(600px) {
      position: static;
      display: block;
      width: 20%;
      margin: auto;
    }
  }
  &__results {
    @include respondMax(600px) {
      margin-top: 3rem;
    }
  }
  &__icon {
    position: absolute;
    top: -10rem;
    right: -15rem;
    font-size: 4rem;
    color: red;
    cursor: pointer;
    transition: all 300ms;
    &:hover {
      transform: scale(1.5);
    }
    @include respondMax(700px) {
      top: -10rem;
      right: -4rem;
    }
    @include respondMax(500px) {
      top: -10rem;
      right: 5rem;
    }
  }
  animation: zoomIn 600ms;
}
