.Header {
  display: flex;
  justify-content: center;
  header {
    text-align: center;
  }
  &__rules {
    position: absolute;
    font-style: italic;
    font-size: 1.5rem;
    right: 4rem;
  }
}
